body{
    padding: 0;
    margin: 0;
    background-image: url(../img/peakpx.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@font-face {
    font-family: BIT;
    src: url(../fuente/BIT.TTF);
}
.row{
    margin:0;
    display: block;
    text-align: center;
    padding-top: 162px; 
    color:white;
    font-family: BIT;
    font-size: xx-large;
    
}
img{
    height: 237px;
    position: relative;
    background:linear-gradient(90deg,#000,#323232)
}
a{
    text-decoration: none;
    color:white;
}
a:hover {
    color: #000000;
    cursor: pointer;
  }
.pad{
    padding-top: 20px;
}
.mydiv {
	position: relative;
	margin: 0% auto 0;
	width: 18.5%;
	background: linear-gradient(90deg, #000, #323232); 
}

.animate-bg:before, .animate-bg:after {
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
	background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5);
	background-size: 300%;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	z-index: -1;
	animation: BGgradient 15s ease infinite; 
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

.animate-bg:after {
	filter: brightness(1.4);
	filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
	filter: blur(15px);
}